.header-intro {
  position: absolute;
  width: 100%;
  margin-top: 10vh; /* dimensions of the nav */
  min-height: 90vh;
  max-height: 100vh;
  padding: 50px 100px;
  color: #ffffff;
  margin-bottom: 10vh;
}

.catchphrase {
  width: 70%;
}


/*illustration for the banner*/
#hd-img {
  width: 100%;
  height: hidden;
}

/* ALL MEDIA QUERIES */

@media screen and (max-width: 1025px){
  header .main-title span{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  header .catchphrase {
    width: 90%;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .header-intro {
    padding: 30px 12px;
  }
}

.main-title span {
    line-height: 3.5rem;
    font-size: 3rem;
    background: #C7F5DE;
    align-self: center;
    color: #131e1e;
  }

.catchphrase {
  font-family: Traulha;
  font-style: italic;
  font-weight: normal;
  color: white;
  font-size: 1.75rem;
  line-height: 2rem;
  padding-top: 15vh;
  margin-bottom: 10vh;
}
@media (max-width: 850px) {
  .catchphrase {
    padding-top: 5vh;
    width: 85%;
  }
}

